body{
    background-color: darkolivegreen;
    width:100%
    padding:0;
    margin:0;
    
}

h1{

    color: darkred;text-align: center;
    text-decoration:underline;
}
h2{
    background-color: seashell;
    padding:0.2em;
    color: mediumvioletred;
    text-align: center;
}
img{
    border:3px solid red;
    width:100%;
    margin:2px;
    height: auto;
    box-sizing: border-box;
}
.container{
    background-color: mediumblue;
}
